<!-- Main Wrapper -->
<div class="main-wrapper">
  <div class="row">
    <!-- Login Banner -->
    <div class="col-md-6 login-bg">
      <div class="row w-100">
        <div class="col-md-12">
          <owl-carousel-o [options]="newPasswordOwlOptions">
            @for (slide of newPassword; track slide) {
              <ng-template carouselSlide>
                <div class="welcome-login">
                  <div class="login-banner">
                    <img [src]="slide.img" class="img-fluid" alt="Logo" />
                  </div>
                  <div class="mentor-course text-center">
                    <h2>{{ slide.content1 }}<br />{{ slide.content2 }}</h2>
                    <p>{{ slide.paragraph }}</p>
                  </div>
                </div>
              </ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <!-- /Login Banner -->

    <div class="col-md-6 login-wrap-bg">
      <!-- Login -->
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
            <div class="back-home">
              <a [routerLink]="routes.home">Back to Home</a>
            </div>
          </div>
          <h1>Setup New Password</h1>
          <div class="input-block">
            <label for="password" class="form-control-label">Password</label>
            <div class="pass-group" id="passwordInput">
              <input [type]="password" class="form-control pass-input" placeholder="Enter your password"
                [(ngModel)]="registerFormCustom.password" (input)="onChangePassword(registerFormCustom.password, 'Password')" (input)="onInputChange1()" />
                <span>@if (show1) {
                  <i class="toggle-password feather icon-eye" (click)="onClick('password')" (keydown)="onClick('password')" tabindex="1"
                  ></i>
                }</span>
                <span>@if (!show1) {
                  <i class="toggle-password feather icon-eye-off" (click)="onClick('password')" (keydown)="onClick('password')" tabindex="1"
                  ></i>
                }</span>
              <span class="pass-checked" [ngClass]="{
                  active: passwordResponce.passwordResponceKey === '3'
                }"><i class="feather icon-check"></i></span>
                </div>
            <div class="password-strength" [ngClass]="{
                'poor-active': passwordResponce.passwordResponceKey === '0',
                'avg-active': passwordResponce.passwordResponceKey === '1',
                'strong-active': passwordResponce.passwordResponceKey === '2',
                'heavy-active': passwordResponce.passwordResponceKey === '3'
              }" id="passwordStrength">
                  <span id="poor" class="active"></span>
                  <span id="weak" class="active"></span>
                  <span id="strong" class="active"></span>
                  <span id="heavy" class="active"></span>
                </div>
            <div id="passwordInfo" [ngClass]="{
                weak: passwordResponce.passwordResponceKey === '0',
                average: passwordResponce.passwordResponceKey === '1',
                good: passwordResponce.passwordResponceKey === '2',
                great: passwordResponce.passwordResponceKey === '3'
              }">
                  @if (typingStarted1 && passwordResponce.passwordResponceKey === '0') {
                    <img [src]="passwordResponce.passwordResponceImage" alt="img"/>
                  }
                  {{ passwordResponce.passwordResponceText }}
                </div>
              </div>
              <div class="input-block">
                <label for="confirm-password" class="form-control-label">Confirm Password</label>
                <div class="pass-group" id="passwordInputs">
                  <input [type]="confirmPassword" class="form-control pass-input" placeholder="Enter your password"
                    [(ngModel)]="registerFormCustom.confirmPassword"
                    (input)="onChangePassword(registerFormCustom.confirmPassword, 'confirmPassword')" (input)="onInputChange2()"/>
                    <span>@if (show2) {
                      <i class="toggle-password feather icon-eye" (click)="onClick('confirmPassword')" (keydown)="onClick('confirmPassword')" tabindex="1"
                      ></i>
                    }</span>
                    <span>@if (!show2) {
                      <i class="toggle-password feather icon-eye-off"
                      (click)="onClick('confirmPassword')" (keydown)="onClick('confirmPassword')" tabindex="1"></i>
                    }</span>
              <span class="pass-checked" [ngClass]="{
                  active: confirmPasswordResponce.passwordResponceKey === '3'
                }"><i class="feather icon-check"></i></span>
                    </div>
            <div class="password-strength" [ngClass]="{
                'poor-active':
                  confirmPasswordResponce.passwordResponceKey === '0',
                'avg-active':
                  confirmPasswordResponce.passwordResponceKey === '1',
                'strong-active':
                  confirmPasswordResponce.passwordResponceKey === '2',
                'heavy-active':
                  confirmPasswordResponce.passwordResponceKey === '3'
              }" id="passwordStrengths">
                      <span id="poors" class="active"></span>
                      <span id="weaks" class="active"></span>
                      <span id="strongs" class="active"></span>
                      <span id="heavys" class="active"></span>
                    </div>
            <div id="passwordInfos" [ngClass]="{
                weak: confirmPasswordResponce.passwordResponceKey === '0',
                average: confirmPasswordResponce.passwordResponceKey === '1',
                good: confirmPasswordResponce.passwordResponceKey === '2',
                great: confirmPasswordResponce.passwordResponceKey === '3'
              }">
                      @if (typingStarted2 && passwordResponce.passwordResponceKey === '0') {
                        <img alt="img" [src]="confirmPasswordResponce.passwordResponceImage" />
                      }
                      {{ confirmPasswordResponce.passwordResponceText }}
                    </div>
                  </div>
                  <div class="form-check remember-me">
                    <label class="form-check-label mb-0">
                      <input class="form-check-input input-box" type="checkbox" name="remember" />
                      I agree to the
                      <a href="javascript:void(0)">Terms of Service</a> and
                      <a href="javascript:void(0)">Privacy Policy.</a>
                    </label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary btn-start" type="submit">
                      Reset Password
                    </button>
                  </div>
                  <div class="reset-account">
                    <p class="mb-0">
                      Already have an account?
                      <a [routerLink]="routes.login">Sign in</a>
                    </p>
                  </div>
                </div>
              </div>
              <!-- /Login -->
            </div>
          </div>
        </div>
        <!-- /Main Wrapper -->