<!-- Login Banner -->
<div class="col-md-6 login-bg">
  <div class="row w-100">
    <div class="col-md-12">
      <owl-carousel-o [options]="verificationCodeOwlOptions">
        @for (slide of verificationCode; track slide) {
          <ng-template carouselSlide>
            <div class="welcome-login">
              <div class="login-banner">
                <img [src]="slide.img" class="img-fluid" alt="Logo">
              </div>
              <div class="mentor-course text-center">
                <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
                <p>{{slide.paragraph}}</p>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>

  </div>
</div>
<!-- /Login Banner -->

<div class="col-md-6 login-wrap-bg">

  <!-- Login -->
  <div class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        <div class="back-home">
          <a [routerLink]="routes.home">Back to Home</a>
        </div>
      </div>
      <h1>Enter Varification Code</h1>
      <div class="reset-password">
        <p>We have just sent a verification code to your registed email id</p>
      </div>
      <div class="verification-code">
        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex digit-group">
              <input [(ngModel)]="oneTimePassword.data1" maxlength="1" (keydown.backspace)="tiggerBackspace(oneTimePassword.data1 , 'digit-1')" (input)="ValueChanged(oneTimePassword.data1 , 'digit-1')" type="text" class="form-control" id="digit-1" name="digit-1"  value="8" />
              <input [(ngModel)]="oneTimePassword.data2" maxlength="1" (keydown.backspace)="tiggerBackspace(oneTimePassword.data2 , 'digit-2')" (input)="ValueChanged(oneTimePassword.data2 , 'digit-2')" type="text" class="form-control" id="digit-2" name="digit-2"   />
              <input [(ngModel)]="oneTimePassword.data3" maxlength="1" (keydown.backspace)="tiggerBackspace(oneTimePassword.data3 , 'digit-3')" (input)="ValueChanged(oneTimePassword.data3 , 'digit-3')" type="text" class="form-control" id="digit-3" name="digit-3"   />
              <input [(ngModel)]="oneTimePassword.data4" maxlength="1" (keydown.backspace)="tiggerBackspace(oneTimePassword.data4 , 'digit-4')"  (input)="ValueChanged(oneTimePassword.data4 , 'digit-4')" type="text"  class="form-control" id="digit-4" name="digit-4"   />
            </div>
          </div>
          <div class="send-code">
            <a [routerLink]="routes.page_verification_code ">Send the code again</a>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-start" type="submit" (click)="directLogin()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Login -->

</div>
