<!-- Login Banner -->
<div class="col-md-6 login-bg">
  <div class="row w-100">
    <div class="col-md-12">
      <div data-aos="fade-up">
        <owl-carousel-o [options]="forgotPasswordOwlOptions">
          @for (slide of forgotPassword; track slide) {
            <ng-template carouselSlide>
              <div class="welcome-login">
                <div class="login-banner">
                  <img [src]="slide.img" class="img-fluid" alt="Logo">
                </div>
                <div class="mentor-course text-center">
                  <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
                  <p>{{slide.paragraph}}</p>
                </div>
              </div>
            </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- /Login Banner -->

<div class="col-md-6 login-wrap-bg">

  <!-- Login -->
  <div class="login-wrapper">
    <div class="loginbox">
      <div class="img-logo">
        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        <div class="back-home">
          <a [routerLink]="routes.home">Back to Home</a>
        </div>
      </div>
      <h1>Forgot Password ?</h1>
      <div class="reset-password">
        <p>Enter your email to reset your password.</p>
      </div>
      <form>
        <div class="input-block">
          <label for="email" class="form-control-label">Email</label>
          <input type="email" class="form-control" placeholder="Enter your email address">
        </div>
        <div class="d-grid">
          <button class="btn btn-start" type="button" (click)="directLogin()">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Login -->